<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <style>
        body{
            background-color: #242424;
            color: #f5f5f5;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .container{
            margin-top: 2.25rem;
            border: 2px solid khaki;
            width: max-content;
            margin-inline: auto;
            padding: 1rem 1.5rem;
            border-radius: 6px;
        }

        button{
            padding: 0.5rem 1.25rem ;
            font-size: 1.25rem;
            border: none;
            border-radius: 5px;
            background-color: khaki;
            color: black;
            cursor: pointer;
            transition: box-shadow 0.15s ease-in-out;
        }
        h1{
            color: khaki;
            text-align: center;
        }
        a{
            text-decoration: none;
            color: white;
            font-size: 1.25rem;
            font-weight: 500;
            transition: color 0.15s ease-in-out;
        }
        a:hover{
            color: khaki;
        }
    </style>
</head>
<body>
    <h1>URL Shortner</h1>
    <div class="container">
        <h1>Link : 
            <a href="http://localhost:8000/url/<%= url %>" target="_blank">
                http://localhost:8000/url/<%= url %>
            </a>
        </h1>
    </div>
</body>
</html>